body {
  background-image: url("../src/img/wp2972323.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  display: inline-block;
  flex-direction: wrap;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
