/* .card {
  background-color: rgba(221, 226, 226, 0.164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 30vh;
  min-height: 12rem;
  color: #ffffff;
}

.card > img {
  width: 5rem;
  height: 5rem;
} */
