.abox {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin: 10px;
}

.imgcontainer {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.imgcontainer img {
  transform: skew(0deg, 0deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.innerskew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 0deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.textcontainer {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: rgb(231, 220, 220);
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.textcontainer h3 {
  margin: 20px 0px 10px 0px;
  color: #000000;
  font-size: 18px;
}

.continent {
  color: silver;
  text-align: center;
  font-size: 10px;
}
