.landing {
  margin-left: 590px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 90px;
  background-color: rgba(253, 252, 252, 0.911);
  box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.999);
}

.title h2 {
  -webkit-text-stroke: 0.7px rgb(115, 149, 155);
  color: rgb(17, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 518px;
}

.btnlanding {
  --width: 100%;
  --time: 0.7s;

  position: relative;
  display: inline-block;
  height: 1em;
  padding-bottom: 30px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 14px;

  color: rgb(10, 10, 10);
  background: rgb(49, 84, 131);
  overflow: hidden;

  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.btnlanding text {
  position: relative;
  z-index: 5;

  transition: color var(--time);
}

.btnlanding:hover text {
  color: rgb(246, 246, 246);
}

.btnlanding span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;

  border-radius: 100%;
  background: rgb(8, 8, 8);

  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

/* .btnlanding:hover span {
  width: calc(var(--width) * 2.25);
  padding-top: calc(var(--width) * 2.25);
} */
